@use 'theme.scss' as *;

.container {
  h4 {
    margin: 0;
    margin-top: 32px;
    margin-bottom: 16px;
  }

  h5 {
    margin: 0;
    margin-bottom: 16px;
  }

  h6 {
    font-size: 1.133rem;
    margin: 0;
  }
}
