@use 'theme.scss' as theme;

/* todo on scroll make border for navbar */

.navbar {
  position: sticky;
  top: 5px;
  z-index: 1;

  display: flex;
  flex-direction: row;

  background-color: theme.$secondary-color;

  padding-left: 15px;
  padding-right: 15px;

  font-family: 'Montserrat', sans-serif;

  /* centering horizontally */
  margin: auto;
  margin-top: 25px;

  /* make it as wide and tall as the content */
  width: fit-content;

  border-radius: 4px;

  // FIXME this is the wrong color on the site
  border: 1px solid theme.$background-color;
}

.navbarItem {
  background-color: theme.$secondary-color;

  padding: 15px;
  cursor: pointer;

  transition: background-color 0.5s;
  transition-timing-function: ease-out;

  /* text styling */
  color: theme.$text-color;
  text-decoration: none;
  /* no highlight */
  user-select: none;
}

.navbarItem:hover {
  background-color: theme.$navbar-item-hover-color;

  transition:
    background-color 0.5s,
    box-shadow 0.2s;
  transition-timing-function: ease-in;
  box-shadow: inset 0 -3px 0 theme.$navbar-item-underline-color;
}

.navbarActive {
  background-color: theme.$navbar-item-click-color;

  transition:
    background-color 0.5s,
    box-shadow 0.2s;
  transition-timing-function: ease-in;
  box-shadow: inset 0 -3px 0 theme.$navbar-item-underline-color;
}
