.topbar {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.navbarContainer {
  width: 100%;
  margin-left: 300px;
}

.themeSwitcherContainer {
  width: 300px;
}
