.topbar {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;

  position: sticky;
  top: 5px;
  z-index: 1;

  margin-top: 25px;
}

.left {
  flex: 1;
}

.navbarContainer {
  flex: 2;
}

.right {
  flex: 1;
  display: flex;
  justify-content: end;
}
