// dark
$text-color: #ffffff;
$background-color: #242424;

$navbar-background-color: #1a1a19;
$navbar-item-hover-color: #2b3f68;
$navbar-item-click-color: #1c2944;
$navbar-item-underline-color: #405d9c;
$navbar-border-color: #0f1421;

$link-color: #5073c0;
$link-hover-color: #3d5a94;

$theme-switcher-ball-color: #1c2944;

// light
$text-color-light: #121212;
$background-color-light: #e4e5f1;

$navbar-background-color-light: #f7f7f7;
$navbar-item-hover-color-light: #d1caff;
$navbar-item-click-color-light: #beb4f7;
$navbar-item-underline-color-light: #a7a0d7;
$navbar-border-color-light: #e5e2f2;

$link-color-light: #beb4f7;
$link-hover-color-light: #a7a0d7;

$theme-switcher-ball-color-light: #beb4f7;

// shared
$color-lightred: #ec9c9c;
$color-gray: gray;
