// dark colors
$text-color: #ffffff;
$background-color: #121212;
$primary-color: #1c2944;
$secondary-color: #1a1a19;
$accent-color: #2b3f68;

$selection-color: #324774;

$navbar-background-color: #121212;
$navbar-item-hover-color: #2b3f68;
$navbar-item-click-color: #1c2944;
$navbar-item-underline-color: #405d9c;

$color-lightred: #ec9c9c;
$color-gray: gray;

// TODO light colors
